<html>
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
    <body>
        <script>
            var _foodstorelist = '@Html.Raw(ViewBag.foodAppData)'
            console.log(_foodstorelist)
        </script>
    </body>
</html>
